html, body, .grid-container {
    height: 100%;
    margin: 0;
    font-family: 'sans-serif','Lucida Grande';
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    padding: 0;
    }
   
   * {
   box-sizing: border-box;
   }

   .grid-container {
     display: grid;
     grid-template-columns: 0.2fr 1.5fr 2fr 1.1fr 0.2fr;
     grid-template-rows: 0.4fr 0.8fr 2.6fr 0.3fr;
     gap: 0px 0px;
     grid-template-areas:
       ". header header header ."
       ". wraper wraper wraper ."
       ". sidebar article article ."
       ". footer footer footer .";
   }
   
   .header { 
       grid-area: header;
    }
   
   nav {
     display: flex;
     background-color: beige;
     justify-content: space-around;
     height: 70px;
     align-items: center;
   
   }

   .logo {
       position: relative;
       margin-top: 15px;
   }

   .logo h2 {
       margin: 0;
       text-shadow: .5px .5px orangered;
   }

   .logo #textC24 {
       position: absolute;
       top: -15px;
       left: -30px;
       transform: skew(25deg);
   }

   .logo #textC24:hover {
      transform: translate(30px);
      transition: 1s ease;
   }
   
   nav ul {
     position: relative;
     display: flex;
     list-style: none;
     width: 40%;
     justify-content: space-between;
   }
   
   nav ul li a {
     text-decoration: none;
     padding-right: 20px;
     color: orangered;
     font-weight: bolder;
   }
   
   nav ul li:hover {
     border: 1px solid rgb(255, 68, 0);
     border-radius: 10px;
     padding-right: 0;
     text-align: center;
     padding-left: 15px;
     transition: border-radius ease 0.3s;
    }

   
   .wraper { 
     grid-area: wraper; 
     background: url(./img/pexels-cadeau-maestro-1170412.jpg); 
     background-size: cover;
     background-position: center; 
     margin: 10px;
     border-radius: 10px;
    }
   
   .raper {
     height: 400px;
     /* background-image: url(./img/ggku.jpg); */
     background-size: cover;
     color: white;
     text-align: center;
     position: relative;
     
    }
    
    .raper h1 {
     padding-top: 50px;
     color: white;
    }
    
    .source {
        position: absolute;
        bottom: 0;
        right: 15px;
        color: orangered;
    }
   
   .blink {
     animation: blink 10s steps(1, end) infinite; 
    }
    
    .blink {
     
     animation: blink 10s steps(00.5s, end) infinite;
    }
    
    @keyframes blink {
     0% {
       background: rgba(255, 248, 220, 0.507);
       padding: 3px 5px;
       border-radius: 5px;
       font-size: smaller;
     }
     50% {
        background: rgba(255, 68, 0, 0.513);
        padding: 3px 5px;
        border-radius: 5px;
     }
     80% {
        background: rgba(0, 0, 0, 0.507);
        padding: 5px 3px;
        border-radius: 5px;
     }
    }
  
   
   .sidebar { grid-area: sidebar; }
   .flex {
    display: flex;
    text-justify: distribute;
  }

   .sidebar h2 {
     font-size: 20px;
     font-family: 'Courier New';
   }

   button {
    margin: 20px;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
  }

  .btn-4 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .btn-4:hover {
    background-color: #d889a3;
    background-image: linear-gradient(315deg, #d889aa 0%, #aac803 74%);
  }

  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
      -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }

  .btn-4:before {
    height: 0%;
    width: .1px;
  }

  .btn-4:after {
    width: 0%;
    height: .1px;
  }

  .btn-4:hover:before {
    height: 100%;
  }

  .btn-4:hover:after {
    width: 100%;
  }

  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
      -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }

  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }

  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }

  .btn-4 span:hover:before {
    height: 100%;
  }

  .btn-4 span:hover:after {
    width: 100%;
  }
   
   .article { grid-area: article; }
   
   .article .post {
    background: rgba(255, 255, 255, 0.424);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 2.5vh;
    box-shadow: 3px 6px 3px rgba(128, 128, 128, 0.37);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
  }

  .article .post h3 {
   margin-bottom: 3px;
  }

  .article .post h6 {
    margin-top: 0;
    color: gray;
  }

  .article .post button {
    border: none;
    background: transparent;
    border-bottom:rgb(36, 20, 13);
  }

  .article .post button a {
   color: orangered;
   text-decoration: none;
  }

  .article .post button a:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 1px;
    border-bottom: 1px solid orangered;
    transition: width 1s;
  }

  .article .post button:hover a:after {
   border-bottom: 3px solid orangered;
   border-radius: 5px;
   width: 25%;
  }


   .footer { grid-area: footer; }
   footer {
     text-align: center;
     height: 70px;
     padding: 20px;
     background-color:beige;
     margin-top: 20px;
    }
   


      @media  (max-width: 768px) {
        .profile{
          margin-left: 50px;
        }
        .sidebar h2 {
         
          margin-left: 35px;
          font-size: 16px;
        }
          .flex{
           flex-wrap: wrap;
           
          }
        
          .grid-container {
             grid-template-columns: 1fr;
             grid-template-areas: 
               "header"
               "wraper"
               "sidebar"
               "article"
               "footer";
           }
      
        
           nav ul {
               margin-right: 45vw;
               
           }
      
           nav ul li a {
               box-shadow: 3px 3px 3px rgb(173, 173, 173);
           }
      
           nav .logo {
              margin-left: 13px;
           }
      
           .logo #textC24 {
              position: absolute;
              top: -15px;
              left: -15px;
              transform: skew(10deg);
          }
       
          .logo #textC24:hover {
             transform: translate(30px);
             transition: 1s ease;
          }
      
           nav ul li a {
               color: orangered;
               font-size: smaller;
               padding: 3px 7.5px;
               border-radius: 3px;
           }
      
           nav ul li:hover {
              border: 0;
              border-radius: 0;
              padding-right: 0;
              text-align: 0;
              padding-left: 0;
              transition: none;
          }
      
           .raper h1 {
               text-shadow: 1px 1px rgb(36, 20, 13);
               color: rgb(255, 255, 255, 0.9);
               font-size: 20px;
               font-weight: bolder;
               margin-top: 25vh;
           }
      
           .raper h1 span {
               width: 100%;
               display: block;
           }
      
           .title {
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              background: rgba(255, 255, 255, 0.274);
              padding-bottom: 35px;
              height: auto;
           }
      
           .title h1 {
               color:white;
               text-shadow: 1px 5px rgba(128, 128, 128, 0.513);
               padding-right: 30vw;
           }
      
           .title span{
               animation: none;
               padding-right: 6.5vw;
           }
      
       
    
           .article .post h3 {
            font-size: small;
            padding-right: 40vw;
           }
       
           .article .post p {
              padding-right: 40vw; 
             font-size: 14px;
             font-family: serif;
             line-height: 2rem;
           }
      .footer {
        
      padding-right: 30vw;
      }
        
    }