html, body, .grid-container {
    height: 100%;
    margin: 0;
    font-family: 'sans-serif','Lucida Grande';
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    padding: 0;
    }
   
   * {
   box-sizing: border-box;
   }

   .grid-container {
     display: grid;
     grid-template-columns: 0.2fr 1.5fr 2fr 1.1fr 0.2fr;
     grid-template-rows: 0.4fr 0.8fr 2.6fr 0.3fr;
     gap: 0px 0px;
     grid-template-areas:
       ". header header header ."
       ". wraper wraper wraper ."
       ". sidebar article article ."
       ". footer footer footer .";
   }
   
   .header { 
       grid-area: header;
    }
   
   nav {
     display: flex;
     background-color: beige;
     justify-content: space-around;
     height: 70px;
     align-items: center;
   
   }
   /* PART YANG DIEDIT REZKI */
   .logo {
       position: relative;
       margin-top: 15px;
   }

   .logo h2 {
       margin: 0;
       text-shadow: .5px .5px orangered;
   }

   .logo #textC24 {
       position: absolute;
       top: -15px;
       left: -30px;
       transform: skew(25deg);
   }

   .logo #textC24:hover {
      transform: translate(30px);
      transition: 1s ease;
   }
   
   nav ul {
     position: relative;
     display: flex;
     list-style: none;
     width: 40%;
     justify-content: space-between;
   }
   
   nav ul li a {
     text-decoration: none;
     padding-right: 20px;
     color: orangered;
     font-weight: bolder;
   }
   
   nav ul li:hover {
     border: 1px solid rgb(255, 68, 0);
     border-radius: 10px;
     padding-right: 0;
     text-align: center;
     padding-left: 15px;
     transition: border-radius ease 0.3s;
    }

   
   .wraper { 
     grid-area: wraper; 
     /* background: url(./img/ggku.jpg);  */
     background: url(./img/pexels-cadeau-maestro-1170412.jpg); 
     /* background: url(./img/pexels-marc-mueller-380768.jpg);  */
     /* background: url(./img/pexels-pixabay-302769.jpg);  */
     background-size: cover;
     background-position: center; 
     margin: 10px;
     border-radius: 10px;
    }
   
   .raper {
     height: 400px;
     /* background-image: url(./img/ggku.jpg); */
     background-size: cover;
     color: white;
     text-align: center;
     position: relative;
     
    }
    
    .raper h1 {
     padding-top: 50px;
     color: white;
    }
    
    .source {
        position: absolute;
        bottom: 0;
        right: 15px;
        color: orangered;
    }
   
   .blink {
     animation: blink 10s steps(1, end) infinite; 
    }
    
    .blink {
     /* animation: blink 1s steps(1, end) infinite; */
     animation: blink 10s steps(00.5s, end) infinite;
    }
    
    @keyframes blink {
     0% {
       background: rgba(255, 248, 220, 0.507);
       padding: 3px 5px;
       border-radius: 5px;
       font-size: smaller;
     }
     50% {
        background: rgba(255, 68, 0, 0.513);
        padding: 3px 5px;
        border-radius: 5px;
     }
     80% {
        background: rgba(0, 0, 0, 0.507);
        padding: 5px 3px;
        border-radius: 5px;
     }
    }
   /* AKHIR PART YANG DIEDIT REZKI */
   
   .sidebar { grid-area: sidebar; }
   
   .article { grid-area: article; }
   
   .footer { grid-area: footer; }
   footer {
     text-align: center;
     height: 70px;
     padding: 20px;
     background-color:beige;
     margin-top: 20px;
    }
   


     
    @media  (max-width: 768px) {
      body {
        margin: 0 5px;
      }
      .sidebar h2 {
        text-align: center;
      }
      .img {
        text-align: center;
      }
      .grid-container {
         grid-template-columns: 1fr;
         grid-template-areas: 
           "header"
           "wraper"
           "sidebar"
           "article"
           "footer";
       }
  
      
       nav ul {
           margin-right: 7.55vw;
       }
  
       nav ul li a {
           box-shadow: 3px 3px 3px rgb(173, 173, 173);
       }
  
       nav .logo {
          margin-left: 13px;
       }
  
       .logo #textC24 {
          position: absolute;
          top: -15px;
          left: -15px;
          transform: skew(10deg);
      }
   
      .logo #textC24:hover {
         transform: translate(30px);
         transition: 1s ease;
      }
  
       nav ul li a {
           color: orangered;
           font-size: smaller;
           padding: 3px 7.5px;
           border-radius: 3px;
       }
  
       nav ul li:hover {
          border: 0;
          border-radius: 0;
          padding-right: 0;
          text-align: 0;
          padding-left: 0;
          transition: none;
      }
  
       .raper h1 {
           text-shadow: 1px 1px rgb(36, 20, 13);
           color: rgb(255, 255, 255, 0.9);
           font-size: 20px;
           font-weight: bolder;
           margin-top: 25vh;
       }
  
       .raper h1 span {
           width: 100%;
           display: block;
       }
  
       .title {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          background: rgba(255, 255, 255, 0.274);
          padding-bottom: 35px;
          height: auto;
       }
  
       .title h1 {
           color:white;
           text-shadow: 1px 5px rgba(128, 128, 128, 0.513);
       }
  
       .title span{
           animation: none;
           padding-right: 6.5vw;
       }
  
       
  
      }